name: gpt2_frontend
description: Minimal Flutter web frontend for GPT-2 backend
publish_to: 'none'
version: 0.0.1
environment:
  sdk: '>=2.17.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter
  http: ^0.13.6
  file_picker: ^5.2.5
  dio: ^5.3.2

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
